# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Database
*.db
*.sqlite

# Uploads
backend/uploads/

# Node
node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
