ANTHROPIC_API_KEY=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
RAPIDAPI_KEY=f556bec5c0msh9ef6102f7e3d06dp15a011jsn07f222825bf4
DATABASE_URL=sqlite:///./headheldhigh.db
FRONTEND_URL=http://localhost:5173
